html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,blockquote {
	quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	display: block
}

body {
	font: 90%/1.35 "Source Sans Pro", sans-serif;
	background: #ffffff;
	color: #353535;
}
a {
	color: #6f5699;
	transition: all .3s ease
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: 700
}

hr {
	background-color: #cacaca;
	border: 0;
	height: 1px;
	margin: 3em 0 2em;
	clear: left;
}

table {
	width: 100%
}

table th {
	font-weight: 700
}


/** Botões e icones
 * ----------------------------------------- */
.btn {
  display: inline-block;
  padding: 0.51em 2em;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2em;
  border: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;      
}
.btn:hover { text-decoration: none; }
.btn:focus, .btn:active {  
  outline: 0;  
  -webkit-transition: background linear 0.2s, -webkit-box-shadow linear 0.2s, border-color linear 0.2s;
  -moz-transition: background linear 0.2s, -moz-box-shadow linear 0.2s, border-color linear 0.2s;
  -o-transition: background linear 0.2s, box-shadow linear 0.2s, border-color linear 0.2s;
  transition: background linear 0.2s, box-shadow linear 0.2s, border-color linear 0.2s;
}

.btn.mod1 { color: #353535; background: #41ddb6; }
.btn.mod1:hover { background: #75d9c0; color: #353535;}
.btn.mod1:focus, .btn.mod1:active { background: #75d9c0; color: #353535; }

.icon{
	background: url("../img/sprite.png") no-repeat;
	display: inline-block;
}

.icon_info{
	width: 20px;
	height: 19px;
	background-position: 0 -5px;
}
.icon_x{
	width: 20px;
	height: 19px;
	background-position: 0 -34px;
}
.icon_anexo_p{
    height: 22px;
    width: 14px;
	background-position: 0 -62px;
}
.icon_anexo_m{
    background-position: 0 -95px;
    height: 42px;
    width: 24px;
}
.icon_ordenar{
    background-position: 0 -148px;
    height: 7px;
    width: 15px;
}
.icon_ordenar.active{ background-position: 0 -167px; }




/** body{ background: #f00 } */

/** Sidebar - Anexar arquivos
 * ----------------------------------------- */
.bc_sidebar{ 
	background: #6743aa; 
	width: 380px;	
	position: relative;
}

.bc_doc_anexo{ 
	width: 340px; 
	margin: 0 auto;
	border-top: 1px solid #b4a6d2;
	border-bottom: 1px solid #b4a6d2;
	padding: 30px 0;
}

.bc_doc_anexo .tit_sidebar{
	display: inline-block;
	color: #b4a6d2;
	text-transform: uppercase;
	font: 600 14px "Source Sans Pro", sans-serif;	
}

.bc_doc_anexo .tit_sidebar .txt{ margin-right: 5px; }

.bc_doc_anexo .tit_sidebar .txt,
.bc_doc_anexo .tit_sidebar .icon{ float: left; }

.bc_doc_anexo p{ 
	clear: both; 
	line-height: 16px; 	
	margin-bottom: 25px;
}

.bc_doc_anexo p strong{
	color: #ffffff;	
	font: 600 14px/16px "Source Sans Pro", sans-serif;
}

.list_anexo{ display: block; margin-bottom: 35px; }

.list_anexo .item{
	color: #b4a6d2;	
	font: 600 14px "Source Sans Pro", sans-serif;
}

.list_arquivo{ display: inline-block; margin-bottom: 15px}

.list_arquivo th{
	font: 600 14px/20px "Source Sans Pro", sans-serif;
	color: #b4a6d2;
	text-transform: uppercase;
	padding-bottom: 8px;
}

.list_arquivo .item td{ padding-bottom: 5px; }

.list_arquivo .item .data{ padding-right: 10px; }

.list_arquivo .item span,
.list_arquivo .item a,
.list_arquivo .item strong{ float: left; margin-right: 8px; }

.list_arquivo .item strong{
	color: #ffffff;	
	font: 600 14px/20px "Source Sans Pro", sans-serif;
}

.frm_doc_anexo{ display: inline-block; }

.frm_doc_anexo fieldset > div > span,
.frm_doc_anexo fieldset > div .bootstrap-filestyle,
.frm_doc_anexo fieldset > div > button{ float: left; margin-right: 13px; }
.frm_doc_anexo fieldset > div > button{ margin: 5px 0 0 0; }

.bootstrap-filestyle{
	border-radius: 21px;
	border: 2px solid #bebebe;
	width: 180px;
	text-align: center;
}

.group-span-filestyle .btn { 
	color: #bebebe;
	padding: 7px 0;
    text-transform: none;
	font: 15px "Source Sans Pro", sans-serif;
}
.group-span-filestyle .badge {
    background: none repeat scroll 0 0 #41ddb6;
    border-radius: 7px;
    color: #353535;
    display: inline-block;
    font-size: 12px;
    width: 15px;
}

.bc_doc_msg {    	
	background: #6743aa;
	left: 0;
	padding: 60px 0 0;
    position: absolute;
    text-align: center;
    top: 150px;
    vertical-align: middle;
    width: 100%;
	display: none;
	bottom: 10px;
}

.bc_doc_msg p{	
	color: #fff;
	font: 22px 'Dosis', sans-serif;
	letter-spacing: 1px;	
	display: none;
}

.bc_doc_msg p strong{
	font-size: 25px;
	font-weight: 400;
	display: block;
	color: #41ddb6;
}

.bc_doc_msg .lkn_fechar {
    color: #b4a6d2;
    position: absolute;
    right: 30px;
    text-decoration: none;
    top: 0;
	font: "Dosis", sans-serif;
	display: none;
}
.bc_doc_msg > a:hover{ text-decoration: underline; }

.format_data { 
	font: 600 14px/20px "Source Sans Pro", sans-serif;
  	color: #b4a6d2;
  	text-transform: uppercase;
  	padding-bottom: 8px;
  	text-decoration: none;
}